<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eadproject">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EADProject">
        <activity android:name=".OwnerHandler.EditFuelInfo"></activity>
        <activity android:name=".OwnerHandler.OwnerPanel" />
        <activity android:name=".OwnerHandler.ProfileOwner" />
        <activity android:name=".OwnerHandler.InsertOwnerFuelInfo" />
        <activity android:name=".QueueHandler.NoDisplayQueue" />
        <activity android:name=".QueueHandler.ShowAllQueueUserInfo" />
        <activity android:name=".FuelHandler.ShowFuelStationInfo" />
        <activity android:name=".QueueHandler.InsertUserQueue" />
        <activity android:name=".FuelHandler.ShowFuelInfo" />
        <activity android:name=".QueueHandler.ShowQueueTotal" />
        <activity android:name=".FuelHandler.FuelStation" />
        <activity
            android:name=".UserHandler.Profile"
            android:parentActivityName=".UserPanel.Panel" />
        <activity android:name=".UserPanel.Panel" />
        <activity android:name=".UserHandler.Registration" />
        <activity
            android:name=".UserHandler.SignIn"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>